.formbasicLogin {
  align-self: center;
  width: 80%;
  justify-content: center;
  margin-right: 10%;
  &__title {
    font-size: 30px;
    font-weight: bold;
    color: #662d91;
    font-family: "Montserrat";
  }
  &__texto {
    color: #7d7d7d;
    &--link {
      font-weight: bold;
      color: #662d91;
      margin-left: 5px;
    }
  }
  &__space {
    height: 60px;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .button {
    background-color: #db00ff;
    border-color: #db00ff;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 60%;
    margin-bottom: 20px;
  }
  .button:disabled {
    background-color: #db00ff;
    border-color: #db00ff;
    opacity: 0.5;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 60%;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
}
@media (mim-width: 768px) and (max-width: 992px) {
  .formbasicLogin {
    &__space {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 768px) {
  .formbasicLogin {
    margin-right: 0%;
    .button {
      width: 100% !important;
    }
  }
}
