// variables de color
@import "../../assets/sass/color";
.subscriptioncard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px 10px 0;

  & > div {
    font-size: 0.9em;
    small {
      font-size: 0.7em;
    }
  }

  &__box {
    a {
      color: $colorDefault;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    svg {
      margin: 0 15px;
    }
  }

  &__name {
    font-weight: bold;
  }
  &__price {
  }
  &__actions {
  }

  //   estilos desactivados
  &.disabled {
    background: rgba(255, 255, 255, 0.6);
  }
  &.disabled > div {
    color: $colorCare4;
  }
  &.disabled &__box {
    a {
      color: $colorCare4;
    }
    svg path {
      fill: $colorCare4;
    }
  }
}

@media (max-width: 768px) {
  .subscriptioncard {
    width: 220px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & > div {
      width: 100%;
      border-bottom: 1px solid rgba($color: $colorCare1, $alpha: 0.1);
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    &__box {
      padding-bottom: 15px;
    }
    &__actions {
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      .btn {
        width: 100% !important;
      }
    }
  }
}
