// variables de color
@import "../../assets/sass/color";

// modificando el navbar solo para suscripciones
// navbar 'white'
.suscripciones-content {
  background: #fff;
  svg {
    fill: $colorCare1;
  }
  a,
  .nav-item.dropdown a span {
    color: $colorCare1 !important;
  }
  a.active,
  .nav-item.dropdown a.show span {
    color: $colorCare2 !important;
  }

  .navbar-toggler {
    color: $colorCare1 !important;
    border-color: $colorCare1 !important;
    svg path {
      stroke: $colorCare1;
    }
  }
  .dropdown-menu {
    background: $colorCare2;
    button {
      color: #fff;
    }
  }
}

// css GENERALES
main {
  // padding-top: 80px;
}
.btn-care {
  background: $colorCare2 !important;
  border-color: #c10bdd !important;
  color: #fff !important;

  &:hover {
    background: #9509aa !important;
  }
}

//css suscripciones
.suscription {
  width: 100%;
  padding-top: 80px;

  &__header {
    background: #fff;
    color: $colorDefault;
    padding: 40px 0 20px 0;

    h1 {
      font-family: "Montserrat";
      color: $colorCare1;
      font-size: 1.8em;
    }
  }

  &__body {
    background: $colorCare3;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .suscription {
    &__body {
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
      }
    }
  }
}
