.productcard-selected {
  padding: 0.25rem;
  width: 13rem;
}

.card-selected {
  height: 100%;
}

.product {
  margin: 0.25rem;
}

.product__image__selected {
  width: 3rem;
  height: 5rem;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  align-self: center;
}

.card-body-selected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.button-end {
  margin-top: auto;
}

.focus {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
