.-content {
  padding-bottom: 8px !important;
}

.home {
  width: 100%;
  padding-top: 4.5rem;

  &__one {
    width: 100%;
    background-color: #5a2d8f;
    height: 700px;
    display: flex;
    justify-content: center;
    &__section {
      width: 80%;
      display: flex;
      justify-content: center;
      &__left {
        width: 50%;
        justify-content: center;
        align-self: center;
        &--flex {
          display: flex;
        }
      }
      &__right {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
  &__two {
    width: 100%;
    background-color: #e8eefe;
    height: 700px;
    display: flex;
    justify-content: center;
    &__section {
      width: 80%;
      display: flex;
      justify-content: center;
      &__left {
        width: 50%;
        justify-content: center;
        align-self: center;
        &--flexOrder {
          display: flex;
          justify-content: center;
          order: 1;
        }
      }
      &__right {
        order: 2;

        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.graphic {
  align-self: center;
  &__image1 {
    height: 28vw;
    margin: -30px 0px;
  }
  &__image2 {
    height: 24vw;
  }
  &__image3 {
    height: 40vw;
  }
}
@media (max-width: 768px) {
  .home {
    &__one {
      &__section {
        &__left {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-content: center;
        }
        &__right {
          width: 80%;
        }
      }
    }
    &__two {
      &__section {
        &__left {
          width: 80%;
          &--flexOrder {
            order: 2;
          }
        }
        &__right {
          order: 1;
          width: 80%;
        }
      }
    }
  }
  .graphic {
    &__image1 {
      height: 40vw;
    }
    &__image2 {
      height: 30vw;
    }
    &__image3 {
      height: 60vw;
      margin: -120px 0px -60px;
    }
  }
  .indications {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .graphic {
    &__image1 {
      height: 55vw;
    }
    &__image2 {
      height: 250px;
      width: 85vw;
    }
    &__image3 {
      height: 75vw;
      margin: -150px 0px -60px;
    }
  }
  .home {
    &__one {
      &__section {
        &__left {
          width: 100%;
        }
        &__right {
          width: 100%;
        }
      }
    }
    &__two {
      &__section {
        &__left {
          width: 100%;
        }
        &__right {
          width: 100%;
        }
      }
    }
  }
}
