// variables de color
$colorCare1: rgb(90, 45, 143);
$colorCare2: rgb(189, 0, 250);
$colorCare3: rgb(234, 238, 253);
$colorCare4: rgb(192, 201, 240);
$colorDefault: #333;

.SendState {
  display: flex;
  justify-content: center;
  padding: 5px 0 10px 0;
  & > span {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    b {
      display: none;
    }
  }
  & span.active {
    background: $colorCare1;
    svg path {
      fill: #fff;
    }
    b {
      width: 50px;
      display: block;
      position: absolute;
      font-size: 0.7em;
      bottom: -15px;
      text-align: center;
      font-weight: normal;
      color: $colorCare1;
    }
  }
}

.disabled .SendState span.active {
  background: transparent;
  svg path {
    fill: #c9d6ff;
  }
  b {
    display: none;
  }
}
