// variables de color
@import "../../assets/sass/color";

@media (min-width: 1px) {
  // header
  [class*="miboxsave"] {
    position: absolute !important;
    background: #fff;

    .navbar-brand {
      color: $colorCare1 !important;
    }
    svg {
      fill: $colorCare1;
    }

    a {
      color: $colorCare1 !important;
    }
    a.active {
      color: $colorCare2 !important;
    }
    .navbar-toggler {
      color: $colorCare1 !important;
      border-color: $colorCare1 !important;
      svg path {
        stroke: $colorCare1;
      }
    }

    .navbar-toggler + .navbar-bg {
      height: 300px;
      background: $colorCare4;
    }
    .navbar-toggler.collapsed + .navbar-bg {
      height: 0;
      transition: all 0.4s ease;
    }
    .dropdown-menu {
      background: $colorCare2;
      button {
        color: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: $colorCare1 !important;
    }

    .nav-item.dropdown a.show span {
      color: $colorCare2 !important;
    }
  }

  // content
  button.btnNew {
    display: flex;
    align-items: stretch;
    margin: 13px 0;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  .newcard {
    background: transparent !important;
    text-align: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;

    .card {
      flex: 1;
      background: transparent !important;
      border: solid 4px #fff;
      justify-content: center;
      .card-body {
        flex: 0;
      }

      img {
        margin-top: 20px;
        width: 70px;
        height: 70px;
        padding: 0;
        transition: all 0.2s ease;
        transform: scale(1);
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  input[type="file"] {
    display: none;
  }
  .file-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
  }
}
@media (min-width: 768px) {
  // header
  [class*="miboxsave"] {
    background: transparent;
    a {
      color: #fff !important;
    }
    a.active {
      color: $colorCare2 !important;
    }

    .navbar-toggler {
      color: #fff !important;
      border-color: #fff !important;
      svg path {
        stroke: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: #fff !important;
    }
  }
}

.newcard {
  padding: 0.25rem;
  width: 13rem;
}

.newcard__image {
  max-width: 10rem;
  height: 10rem;
  height: 6rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  align-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(255deg)
    brightness(105%) contrast(103%);
}

.card {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.button-end {
  margin-top: auto;
}
