@import "../../assets/sass/color";
@media (min-width: 1px) {
  .navbar {
    background-color: #5a2d8f;

    padding-bottom: 0 !important;

    &-nav {
      position: relative;
      z-index: 10;
      align-items: center;
      font-family: "Montserrat";

      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        height: 50px;
        width: 100%;
        top: 100%;
      }

      & > a {
        width: 100%;
        text-align: center;
      }
      .dropdown {
        text-align: center;
        width: 100%;

        & > a {
          color: #fff;
        }

        .dropdown-menu {
          text-align: center;
          margin: auto 20px 20px 20px;
          & > li:not(:last-child) {
            border-bottom: solid 1px #ddd;
          }
        }
      }
    }

    &-brand {
      position: relative;
      z-index: 10;
      margin-left: 20px;
      svg {
        width: 86px;
        height: 50px;
        margin-right: 10px;
      }
    }
    &-collapse {
      position: relative;
      z-index: 10;

      justify-content: flex-end;
      transition: all 0.2s ease;
    }
    &-collapse.show {
      margin-left: 0;
      margin-right: 0;
    }
    &-toggler {
      position: relative;
      z-index: 10;
      margin-right: 20px;
      svg {
        width: 25px;
        height: 40px;
        path {
          stroke: #fff;
        }
      }
    }
    &-bg {
      position: absolute;
      top: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  ////////////////////////
  .dropdown-item.active,
  .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    color: #efe;
    background-color: $colorCare2 !important;
  }

  .nav-link.active {
    text-decoration: underline $colorCare2;
    text-underline-offset: 5px;
    font-family: "Montserrat";
  }
  .avtivare {
    text-decoration: underline $colorCare2 !important;
    text-underline-offset: 5px;
    font-family: "Montserrat";
    color: white;
  }
  .nav-link:not(.active):hover {
    color: $colorCare2 !important;
  }
}
@media (min-width: 768px) {
  .navbar {
    &-collapse {
    }
    &-nav {
      flex: 1;
      justify-content: flex-end;
      margin-right: 25px;
      &::after {
        width: 0;
        height: 0;
      }
      & > a {
        width: auto;
        text-align: center;
        margin: 0 10px;
      }
      .dropdown {
        width: auto;
        .dropdown-menu {
          right: -20px;
          left: inherit;
        }
      }
    }
  }
}
/* 
480px
528px
641px
767px
991px
1199px
1250px
1400px
*/
